<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/img/ZEbQywN5QaeW04T89e59_logo.gif" alt="" />
      <ion-card-header >
        <ion-card-subtitle>Bem Vindo!</ion-card-subtitle>
        <ion-card-title>Nome Logado</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Verificar texto que gostariam de colocar.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="inset">      
      <ion-item href="/video-chamada">
        <ion-icon name="videocam"></ion-icon>
        <ion-label>Realizar Vistoria</ion-label>
      </ion-item>   
    </ion-list>
</ion-content>
